/* write your override styles here */
#wall .tag-1 {
  background-color: green;
}
#wall #tag-2 {
  background-color: red;
  z-index:8;
  
}

#wall #tag-3 .slick {
  color: purple;
}

.parent #tag-4{
  border-width: 125px;
}

.parent .parent #tag-5 {
z-index: 8;
background-color: red;
display: none;
  
}


.parent #tag-6 {
  padding :600px;
}