/* write your override styles here */
#wall #tag-2 {
  position: relative;
}

#wall #tag-3 {
  color: green;
}

.parent #tag-4{
  border-width: 125px;
}

.parent #tag-5 {
font-size: 99px;
display: none;
  
}


.parent #tag-6 {
  padding :600px;
}